:root {
    --main-color :rgba(64, 219, 233, 0.829);
    --main-color-light :rgb(105, 1, 105);

    --accent-color : rgb(255, 0, 13);
    --accent-color-light : rgba(243, 156, 18,0.5);
}
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

body {
    font-family: fangsong;
    background-image: linear-gradient(to bottom right, var(--main-color), var(--main-color-light));
    background-repeat: no-repeat;
    min-height: 100vh;
}

.main-title {
    font-size: 3rem;
    color: rgb(230, 6, 6);

}

.header, .funksiya-form {
    min-height: 20vh;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-item {
    padding: .5rem;
    font-size: 1.5rem;
    border: none;
    background-color: white;
    outline: none;

}

.btn-funksiya-elaveet {
    color:var(--accent-color);
    cursor: pointer;
}

.btn-funksiya-elaveet:hover{
    color:white;
    background-color: var(--accent-color);

}

.funksiya-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.funksiya-siyahisi {
    list-style: none;
    min-width: 40%;

   
}

.funksiya-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    font-size: 1.2rem;
    background-color: white;
    transition: .5s ease-in-out;


}

.funksiya-tanim {
    flex:1;
    padding: 0.5rem;
}

.funksiya-btn {
    background-color: var(--accent-color);
    outline: none;
    border: none;
    font-size: 1.2rem;
    padding: 0.7rem ;
}

.funksiya-btn-sil {
    background-color: rgb(132, 228, 54);
}

.funksiya-tamamlandi {
    text-decoration: line-through;
    opacity: 0.5;
}

.fas {
    pointer-events: none;
}

.silinmeKecidi {
    transform: scale(0);
}

